@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-blue-500: darkblue;
    --color-red-500: crimson;
    --color-indigo-500: oklch(51.1% .262 276.966) --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    /* ... */
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.hero-text {
    max-width: 50%;
    color: lightgray;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-btn {
    padding: 12px 24px;
    background-color: #3366ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hero-image img {
    max-width: 300px;
}

.features {
    padding: 40px;
    color: lightgray;
}

.features h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
}

.feature-card {
    background: lightskyblue;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.feature-card img {
    width: 60px;
    margin-bottom: 10px;
}

.feature-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: black;
}
.feature-card p {
    color: black;
}

.menus {
    margin-top: 8px !important;
}

.backgroundImage {
    margin-top: 64px;
    background-image: url('/home-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
